:root {
  --primary_color: #087830;
  --secondary_color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
}

.App {
  height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 1.8rem;
  font-weight: 600;
}

p {
  font-size: 1.4rem;
  font-weight: 400;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.space__between {
  align-items: center;
  justify-content: space-between;
}
